= form_for new_user_lesson_plan_path(current_user) do |f|
  - if @lesson_plan.errors.any?
    #error_explanation
      %h2= "#{pluralize(@lesson_plan.errors.count, "error")} prohibited this lesson_plan from being saved:"
      %ul
        - @lesson_plan.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :lesson_plan_file
    = f.text_field :lesson_plan_file
  .actions
    = f.submit 'Save'
