= form_for [:user, @lesson_plan] do |f|
  - if @lesson_plan.errors.any?
    %div{:class => "alert alert-error fade in"}
      %a.close{"data-dismiss" => "alert"} ×
      - @lesson_plan.errors.full_messages.each do |msg|
        = content_tag :div, msg, :id => "flash_errors"

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :core_standards
    = f.fields_for :core_standards do |builder|
      .fieldset
        - @core_standards.each do |standard|
          = builder.label standard.id
          = builder.check_box :id, {:multiple => true}, standard.id
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :lesson_plan_file
    = f.file_field :lesson_plan_file
  .actions
    = f.submit 'Save'
