%h1 Listing lesson_plans

%table
  %tr
    %th Name
    %th Description
    %th Lesson plan file
    %th
    %th
    %th

  - @lesson_plans.each do |lesson_plan|
    %tr
      %td= lesson_plan.name
      %td= lesson_plan.description
      %td= lesson_plan.lesson_plan_file
      %td= link_to 'Show', user_lesson_plan(lesson_plan, current_user)
      %td= link_to 'Edit', edit_user_lesson_plan_path(lesson_plan, current_user)
      %td= link_to 'Destroy', user_lesson_plan(lesson_plan, current_user), method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Lesson plan', new_user_lesson_plan_path(current_user)
