.col-md-8.col-md-offset-2
  .panel.panel-default
    #notice= notice

    .panel-heading
      %h1
        = @lesson_plan.name
    .list-group
      .list-group-item
        %b Core Standards:
        = @lesson_plan.core_standards.map(&:dot_notation)
      .list-group-item
        %b Description:
        = @lesson_plan.description

      .list-group-item
        %b Lesson plan file:
        = link_to("file here", @lesson_plan.lesson_plan_file.url)

      .list-group-item
        %b Agenda:
        = @lesson_plan.agenda

      .list-group-item
        %b Objectives:
        = @lesson_plan.objectives

      .list-group-item
        %b Materials:
        = @lesson_plan.materials

  = link_to 'Edit', edit_user_lesson_plan_path(current_user, @lesson_plan)
  \|
  = link_to 'Back', user_lesson_plans_path(current_user)
