%p#notice= notice

%p
  %b Name:
  = @lesson_plan.name
%p
  %b Description:
  = @lesson_plan.description
%p
  %b Lesson plan file:
  = @lesson_plan.lesson_plan_file

= link_to 'Edit', edit_user_lesson_plan_path(@lesson_plan, current_user)
\|
= link_to 'Back', user_lesson_plans_path(current_user)
