.span9.offset1.well
  %p#notice= notice

  %h1
    = @lesson_plan.name
  %p
    %b Description:
    = @lesson_plan.description

  %p
    %b Lesson plan file:
    = link_to("click here", @lesson_plan.lesson_plan_file.url)

  %p
    %b Agenda:
    = @lesson_plan.agenda

  %p
    %b Objectives:
    = @lesson_plan.objectives

  %p
    %b Materials:
    = @lesson_plan.materials

  = link_to 'Edit', edit_user_lesson_plan_path(@lesson_plan, current_user)
  \|
  = link_to 'Back', user_lesson_plans_path(current_user)
