.span6.offset2.well
  %legend Sign up
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    = devise_error_messages!
    %p
      = f.label :name
      = f.text_field :name, class: 'form-control'
    %div
      = f.label :email
      = f.email_field :email, class: 'form-control'
    %div
      = f.label :password
      = f.password_field :password, class: 'form-control'
    %div
      = f.label :password_confirmation
      = f.password_field :password_confirmation, class: 'form-control'

    %br

    %div= f.submit "Sign up", :class => "btn btn-info btn-block"
  = render "devise/shared/links"
