.container
  .landing_content
    .row.span11.well
      = render 'layouts/messages'
      = cache("static_landing") do
        %h1 Ready to Create Awesome Plans and Easily Tie them to The Common Core State Standards?
        %p{:style => "font-style:italic;"}
          ClassAct makes navigating the CCSS easy, and (almost) fun.
        %hr
        %p{:style => "font-weight:500;"}
          We are built by teachers, for teachers. Store your lesson plans online, link them to specific core standards, and sell them on our marketplace for other teachers to share your knowledge!
        %br
          = link_to 'Resources', posts_path, class: 'btn btn-info'
          = link_to 'Sign up for our Beta »', new_lead_path(lead_type: "beta_test"), :class => "btn btn-large btn-success"
        %hr

        %h1 Lesson Plans
        %hr
        %p
          %ul
            %li
              Never worry about losing your lesson plans again. Store them for free in our cloud service, and always have them ready for your referral.
            %li
              Link your lesson plans with specific Common Core State Standards. Choose the standards that align to your lesson and they will swoop right into the plan. Now you can be assured that what you are teaching is aligned and guiding your students toward college and career readiness!
            %li
              Make money selling your lesson plans! Are you great at creating content? You can easily generate income on the side by selling your plans to other teachers and help other students across the country grow academically from your content expertise.
        %hr

        %h1 Core Standards
        %hr
        %p
          %ul
            %li
              As you know, The Common Core State Standards are being implemented across the United States. You can be ahead of the curve and create lesson plans and content that easily integrate with these standards.

            %li
              With our easy to use Lesson Plan builder, you will be creating lesson plans in no time that immediately relate to specific CCSS.
        = link_to 'Lean More »', new_user_registration_path, :class => "btn btn-large btn-block"
