= form_for [@lead] do |f|
  %div{:class => "alert alert-error fade in", :id => "new_lead_errors", :style => "display:none;"}
  - if @lead.errors.any?
    %div{:class => "alert alert-error fade in"}
      %a.close{"data-dismiss" => "alert"} ×
      - @lead.errors.full_messages.each do |msg|
        = content_tag :div, msg, :id => "flash_errors"
  = f.hidden_field :lead_type, value: lead_type

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :email
    = f.text_field :email
  .actions
    = f.submit 'Sign up!', :class => "btn btn-large btn-success"
