%ul.nav.navbar-nav
  %li
    = link_to "classAct", root_path, :class => 'brand'
  - if user_signed_in?
    %li= link_to 'Dashboard', user_home_index_path(current_user)
    %li= link_to 'Lesson Plans', user_lesson_plans_path(current_user)
    %li
      = link_to 'Logout', destroy_user_session_path, :method=>'delete'
    %li
      = link_to 'Edit account', edit_user_registration_path
  - else
    %li
      = link_to "Blog", posts_path
    %li
      = link_to "Login", new_user_session_path
    %li
      = link_to "Create Account", new_user_registration_path
